@import "bulma";

body{
  background-color: white;
  padding-bottom: 20em;
}

.flex-vcenter{
  align-items: center;
}

.rounded{
  border-radius: 5px;
}

.soft-shadow{
  box-shadow: 0px 0px 20px 2px #b0b4ba;
}

.youtube-result{

  @media screen and (min-width: $tablet) {
    margin: 0;
  }

  h1{
    font-size: 20px;
  }

  h2{
    font-size: 16px;
  }

}

.mobile-pad{
  @media screen and (min-width: $tablet - 280) and (max-width: $tablet - 100) {
    margin: 0 10%;
  }
  @media screen and (min-width: $tablet - 100) and (max-width: $tablet) {
    margin: 0 20%;
  }
}
