extends layouts/master.pug

block content
  section.section
    div.columns
      div.column.has-text-centered.is-half.is-offset-one-quarter
        h1.title GrengilBot
        h2.subtitle A simple Discord music bot, powered by <strong>friendship</strong>
        p.control.has-icon.has-icon-right
          form(action="/search" method="get")
            input.input(type="text" name="search" placeholder="Search YouTube")
    hr

  div.container
    div.box
      article.media
        div.media-left
          figure.image.is-128x128
            img(src=search.thumbnails.default.url alt="Image")
        div.media-content
          div.content
            p
              strong=search.title
              br
              p=search.description
